@font-face {
 font-family: "Passageway";
 src: url('font/passageway.otf');
}
@font-face{
  font-family: 'franc';
  src: url('font/francoisone.ttf');
}
body{
  /* font-family: 'franc'; */
}
.container{
  width: 70%;
}

/* =====================
    Nabar
======================*/
.home-top{
  background: url('image/bg.jpg');
}
.navbar{
  background: rgba(0, 0, 0, 0.0);
}

.navbar-item{
  /* font-family: 'passageway'; */
  /* font-weight: 100; */
  color: #fff;
}
.navbar-item:hover{
  color: #fc6203;
  background: transparent;
}
.btn-orange{
  background: #fc6203;
  color: #fff;
  border: 1px solid #fc6203;
}
.btn-orange:hover{
  background: #fff;
  color: #fc6203;
  border: 1px solid #fc6203;
}
/* Banner */

.banner{
  min-height: 600px;
  color: #fff;
}
.banner h2{
  margin-top: 200px;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  font-family: 'Passageway';
}
.banner a{
  margin:0;
  margin-top: 30px;
}
.banner a:last-child{
  background: transparent;
  color: #fff;
}

/* Site Inner */

.site-inner{
  background: #fff;
  margin-top: 100px;
}
.tag-line{
  font-size: 18px;
  font-family: 'franc';
}
.spesialis{
  margin-top: 100px;
}
.spesialis .card{
  transition: 0.3s ease-in;
}
 .shadow-hover:hover{
  -webkit-box-shadow: 6px 10px 83px -15px rgba(84,78,84,0.65);
  -moz-box-shadow: 6px 10px 83px -15px rgba(84,78,84,0.65);
  box-shadow: 6px 10px 83px -15px rgba(84,78,84,0.65);
  transition: 0.3s ease-out;
}
.about{
  margin-top: 100px;
}
.about h2{
  font-size: 20px;
}
.about img{
  border-radius: 35px;
}
